* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f5f8fc;
    color: #333;
    margin: 0px;
}

.pricing-section {
    text-align: center;
    padding: 60px 0px;
    max-width: 1115px;
    margin: 0 auto;
}

.pricing-section h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.pricing-section .subtitle {
    font-size: 1.1rem;
    color: #000000;
    margin-bottom: 20px;
}

.pricing-link {
    color: #333;
    text-decoration: none;
    text-align: left;
    display: block;
    margin-bottom: 30px;
    font-size: 1rem;

}

.pricing-link span {
    color: #007bff;
    text-decoration: underline;
    display: inline;
}

.pricing-plans {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    padding: 0px 40px;
}

.plan {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding-top: 20px;
    width: 300px;
    margin-top: 80px;
}

.plan h2 {
    font-size: 1.3rem;
    margin-bottom: 15px;
    color: #333;
}

.plan .price {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.plan .description {
    font-size: 1rem;
    color: #666;
    margin-bottom: 30px;
    line-height: 1.5;
}

.plan ul {
    list-style: none;
    margin-bottom: 20px;
    padding-left: 0;
}

.plan ul li {
    font-size: 1rem;
    color: #333;
    margin-bottom: 10px;
}

.plan .button {
    display: block;
    padding: 12px 20px;
    background-color: #f1f1f1;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.2s ease;
}

.plan .button:hover {
    background-color: #ddd;
}

.plan.professional .pink-button {
    background-color: #e91e63;
    color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.plan.professional .pink-button:hover {
    background-color: #d81b60;
}

